{% load staticfiles %}
<!doctype html>
<html>
  <!--This is a project done by Onyango Samwel Opiyo from Class Theta, Mountain Lion Lab.-->
  <Head>
  	<meta name="viewport" content="width=device-width, initial- scale=1">
  	<meta charset="utf-8">
    <meta name="author" content="Samwel Opiyo">
    {% block title %}
    {% endblock %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Latest compiled and minified CSS -->
  </head>
  <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
  		{% block content%}
  		{% endblock content%}


      <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

      <!-- Latest compiled JavaScript -->

      <!-- Latest compiled modernizr -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
      <!-- jQuery library -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <!-- Latest compiled JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <!-- jQuery library -->
  </body>
</html>
